footer.footer
  .song-info
    p
      strong Tất Cả Hoặc Không Là Gì Cả
    p Cao Thái Sơn, Đông Thiên Đức


  .controls
    button ⏮
    button ▶️
    button ⏭


  .time
    span 00:03
    .progress-bar
      .progress
    span 06:23





