aside.sidebar
  div(class="logo")
    h2
      span(class="zing") Zing
      span(class="mp3") mp3
    p MXH ÂM NHẠC


  ul(class="menu")
    a(href="/")
      li
        i 
        |  Khám Phá
    a(href="/")
      li
        i 
        |  zingchart
    a(href="/")
      li
        i 
        |  Phòng Nhạc
    a(href="/")
      li
        i 
        |  BXH Nhạc Mới
    a(href="/topics")
      li
        i 
        |  Chủ Đề & Thể Loại
    a(href="/")
      li
        i 
        |  Top 100


  div(class="login-box")
    p Đăng nhập để khám phá playlist dành riêng cho bạn
    button Đăng nhập


  div(class="new-playlist") + Tạo playlist mới





