/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 20px;
  background-color: #170f23;
  border-bottom: 1px solid #2e2540;
}


.search-bar input {
  background-color: #2e2540;
  border: none;
  border-radius: 25px;
  padding: 10px 16px;
  color: white;
  width: 320px;
  outline: none;
}


.actions {
  display: flex;
  align-items: center;
  gap: 12px;
}

.avatar {
  background: #2e2540;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}