include ../../mixins/alert.pug

block styles
  link(rel="stylesheet", href="/css/client/pages/user.css")
  link(rel="stylesheet", href="/css/client/base/showAlert.css")

block main 
  +alert-error(5000)
  +alert-success(5000)

  .container.my-5 
    .row.justify-content-center 
      .col-8 
        .login-card
          h1.login-title Lấy lại mật khẩu
          form(action="/user/password/forgot" method="POST")
            .form-group
              label(for="email") Email
              input.form-control(type="email" id="email" name="email" required)

            button.btn-primary(type="submit")  Gửi mã xác nhận
block script
  script(type="module" src="/js/client/script.js")