block styles
  link(rel="stylesheet", href="/css/client/pages/user.css")

block main 
  .container.my-5 
    .row.justify-content-center 
      .col-8 
        .login-card
          h1.login-title Đăng nhập tài khoản
          form(action="/user/login" method="POST")
            .form-group
              label(for="email") Email
              input.form-control(type="email" id="email" name="email" required)

            .form-group
              label(for="password") Mật khẩu
              input.form-control(type="password" id="password" name="password" required)

            button.btn-primary(type="submit") Đăng nhập

          a.forgot-link(href="/user/password/forgot") Quên mật khẩu?
