block styles
  link(rel="stylesheet", href="/css/client/pages/user.css")

block main 
  .container.my-5 
    .row.justify-content-center 
      .col-8 
        .login-card
          h1.login-title  Nhập mã OTP xác nhận
          form(action="/user/password/otp" method="POST")
            .form-group
              label(for="email") Email
              input.form-control(type="email" id="email" value=email name="email" required)

            .form-group
              label(for="otp") Mã OTP
              input.form-control(type="text" id="otp" name="otp" required)

            button.btn-primary(type="submit") Xác nhận
