include ../../mixins/alert.pug

block styles
  link(rel="stylesheet", href="/css/client/pages/user.css")
  link(rel="stylesheet", href="/css/client/base/showAlert.css")

block main 
  +alert-error(5000)
  +alert-success(5000)

  .container.my-5 
    .row.justify-content-center 
      .col-8 
        .login-card
          h1.login-title  Nhập mã OTP xác nhận
          form(action="/user/password/otp" method="POST")
            .form-group
              label(for="email") Email
              input.form-control(type="email" id="email" value=email name="email" readonly required)

            .form-group
              label(for="otp") Mã OTP
              input.form-control(type="text" id="otp" name="otp" required)

            button.btn-primary(type="submit") Xác nhận
block script
  script(type="module" src="/js/client/script.js")