include ../../mixins/alert.pug

block styles
  link(rel="stylesheet", href="/css/client/pages/user.css")
  link(rel="stylesheet", href="/css/client/base/showAlert.css")

block main 
  +alert-error(5000)
  +alert-success(5000)

  .container.my-5 
    .row.justify-content-center 
      .col-8 
        .login-card
          h1.login-title Đổi mật khẩu
          form(action="/user/password/reset" method="POST")
            .form-group
              label(for="password") Mật khẩu mới
              input.form-control(type="password" id="password" name="password" required)

            .form-group
              label(for="confirmPassword") Xác nhận mật khẩu
              input.form-control(type="password" id="confirmPassword" name="confirmPpassword" required)

            button.btn-primary(type="submit") Đổi mật khẩu
block script
  script(type="module" src="/js/client/script.js")