/* ===== Base ===== */
/* @import url('./base/reset.css');
@import url('./base/variables.css');
@import url('./base/layout.css'); */

/* ===== Components ===== */
@import url('./components/header.css');
@import url('./components/footer.css');
@import url('./components/sidebar.css');
@import url('./components/player.css');

/* ===== Pages ===== */
@import url('./pages/songs.css');
@import url('./pages/topics.css');
@import url('./pages/singer.css');


/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Roboto, sans-serif;
}


body {
  background-color: #170f23;
  color: #fff;
}


.app {
  display: flex;
  height: 100vh;
  flex-direction: column;
}


@media (min-width: 768px) {
  .app {
    flex-direction: row;
  }
}
/* END RESET */