/* SIDEBAR */
.sidebar {
  width: 200px;
  background-color: #231b2e;
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
}


.sidebar .logo h2 {
  font-size: 26px;
  margin-bottom: 4px;
}

.sidebar .logo img {
  width: 100%;
  height: auto;
}

.zing { color: #ff5b5b; }
.mp3 { color: #a56eff; }


.sidebar p {
  color: #aaa;
  font-size: 13px;
  margin-bottom: 20px;
}


.menu {
  list-style: none;
  flex: 1;
}


.menu  a {
  text-decoration: none;
}


.menu li {
  padding: 10px 14px;
  margin: 6px 0;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
  font-size: 15px;
  color: #fff;
}


.menu li:hover,
.menu li.active {
  background-color: #3b2c53;
}


.login-box {
  background: linear-gradient(135deg, #7b4de9, #b84af0);
  padding: 14px;
  border-radius: 8px;
  text-align: center;
  margin: 20px 0;
}


.login-box button {
  background: #fff;
  color: #6c2ee6;
  border: none;
  padding: 6px 14px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
}


.new-playlist {
  font-size: 15px;
  padding-top: 12px;
  border-top: 1px solid #3a2b50;
  text-align: center;
  color: #ccc;
  cursor: pointer;
}


.sidebar {
  width: 240px;
  background-color: #1a1229;
  color: #fff;
  transition: width 0.3s ease;
  height: 100vh;
  position: relative;
  overflow: hidden;
  padding: 20px;
}

.sidebar.collapsed {
  width: 80px;
}

.toggle-btn {
  background: #2b2040;
  border: none;
  color: #fff;
  font-size: 18px;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
}

.sidebar.collapsed .toggle-btn i {
  transform: rotate(180deg);
  transition: transform 0.3s;
}

.sidebar.collapsed span,
.sidebar.collapsed p,
.sidebar.collapsed .login-box,
.sidebar.collapsed .new-playlist {
  display: none;
}

.sidebar ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  font-size: 16px;
}

.sidebar.collapsed ul li {
  justify-content: center;
}

.sidebar ul li i {
  font-size: 18px;
}
